# -- generic files to ignore --

# emacs backup files
*~
# vim backup files
*.swp
# NFS file
.nfs*

# -- compiler-related --

# object files
# NOTE: This will result in git also exluding the top-level obj directory
# since its only contents are .o files.
*.o
# static library archives
# NOTE: This will result in git also exluding the top-level lib directory
# since its only contents are .a files.
*.a
# dynamic library archives
*.so
# test executables
*.x

# -- build system files --

aclocal.m4
config.log
config.status
config.sys_type
config.mk
version

# -- build system directories --

config
autom4te.cache
include_local

# -- makefile fragments --

.fragment.mk

# -- misc. --

